body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* 背景颜色 */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  margin-bottom: 30px;
}

.container h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.container p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.container ul {
  margin-bottom: 30px;
}

.container ul li {
  margin-bottom: 10px;
}

.container a {
  color: #0366d6;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
